
.footer {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40% 40%;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100%;
  background-color:#191f1f;
  color: whitesmoke;  
}

.footer_info {
  display: flex;
  align-items: center;
  justify-content: center;
}