.legal-section {
  padding: 5px;
    height: 85vh;
    background: rgb(25, 31, 31);
    background: linear-gradient(0deg, rgb(161, 182, 182) 0%, rgb(22, 79, 115) 100%);
}

.legal-container {
  min-height: 60vh;
}