.main-section {    
  padding: 5px;
  height: 100vh; 
  color: white;
  background: rgb(25, 31, 31);   
  background: linear-gradient(0deg, rgb(161, 182, 182) 0%, rgb(22, 79, 115) 100%);
  background-image: url("../../../src/assets/mystical.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* transform: rotate(180deg) */

}

.examples-page {
  display: grid;
  grid-template-columns: 40% 40% ;
  grid-template-rows: 45% 45%;
  row-gap: 80px;
  column-gap: 20px;
  padding: 60px;
  height: 100vh;
  color: white;
  background: (0deg, rgb(161, 182, 182) 0%, rgb(22, 79, 115) 100%);
  background: linear-gradient(0deg, rgb(161, 182, 182) 0%, rgb(22, 79, 115) 100%);
  align-items: center;
  justify-content: center;

    /* Iframe for Hiber */

}

.text_box {
  display: flex;
  background: linear-gradient(0deg, rgb(161, 182, 182) 0%, rgb(22, 79, 115) 100%);
  border-radius: 20px;
  min-width: 300px;
  width: 400px;
  min-height: 400px;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.nft_box_right {
  padding-top: 50px;
  padding-left: 10px;
}

p {
  padding: 30px;
  font-size: 22px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 62px;
}

.main-container {
  display: flex;
  margin: 100px;
  margin-top: 200px;
  flex-direction: column;
  padding: 5px;
  max-width: 800px;
  
}
 .fancy-question{
  display: flex;
  position: relative;
  justify-content: left;
  align-items: flex-start;
 }

 .main-header {
    display: flex;
      position: relative;
      justify-content: left;
      align-items: flex-start;
 }

 .start_minting {
  display: flex;
  justify-content: center;
  background: rgb(161, 182, 182);
  height: 100px;
  padding-bottom: 60px ;
 }

 .cta_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;

    color: black;
    background: rgb(27, 87, 125);

    border-radius: 15px;
    padding: 5px 15px;

    margin-bottom: 10px;
 }

 @media only screen and (max-width: 480px) {
    .text_box {
        display: block;
    }
 }